[run]
branch = True
omit = *migrations*
       *test_*
       *tests*
       */.virtualenvs/*
       */venv/*
       */virtualenv/*


[report]
omit = *migrations*
       *test_*
       *tests*
       */.virtualenvs/*
       */venv/*
       */virtualenv/*
