*~
.~*
*.pyc

.idea/
__pycache__/

src/conf/djconfig_local.py
src/conf/qosconfig_local.py
static/

src/templates/test.html
src/db/works/printer/test.xlsx

etc/test.py
etc/report/
etc/docker/requirements.txt

db.sqlite3

qos_backend.log*
clean_wdays.log*

venv/*
venv3.6/*
./celerybeat*
docs/_*
docs/qos*
.vscode*
*DS_STORE

update.sh
