#DEBUG = False

#SECRET_KEY = "2p7d00y99lhyh1xno9fgk6jd4bl8xsmkm23hq4vj811ku60g7dsac8dee5rn"

#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.postgresql',
#       'NAME': 'qos_v1',
#        'USER': 'qos_v1_user',
#        'PASSWORD': '1',
#        'HOST': '127.0.0.1',
#        'PORT': '5432',
#    }
#}

#ALLOWED_HOSTS = ["149.154.1.1", ]

#MEDIA_ROOT = "/media/"

#STATIC_ROOT = "/static/"